<h2>About</h2>
<strong>This 'about me' is temporarily borrowed from my good friend <a href="http://vedantk.com">Vedant</a>.</strong>
We're surprisingly similar.

<br><br>

Hey, I'm <em>Michelle</em>. I'm <em>a 3rd year</em> EECS major at UC Berkeley.

<br><br>

I'm interested in <em><a href="https://github.com/michellebu/two-fingers">homebrew computer vision</a>,
<a href="https://github.com/michellebu/budp">failed networking</a>, Chrome,
accessibility, <a href="http://mixest.com/mgc">questionably scraping indie music
blogs</a>, learning new subjects, <a href="http://blog.hackersatberkeley.com/?p=16">teaching new subjects</a>, and making useful/silly web apps</em>.

<br><br>

I also help run <a href="http://hackersatberkeley.com">Hackers@Berkeley</a>, the largest computer science and engineering
club at Cal.

<br><br>

Apart from that, I love riding bikes, listening to music, <em>playing
tennis, taking pictures with tons of bokeh,</em> and riding bikes while
listening to music <em>and playing tennis and taking pictures with tons of bokeh</em>.

<br><br>

Here's my <a href="https://github.com/michellebu">Github</a>.
