<h2>Select Projects</h2>

<a href="http://mixest.com/mgc">
<div class="project">
<h3>Mixest <span class="details">node.js, jPlayer, Android</span></h3>
<img src="/projects/mixest.png">
Mixest was built at the Facebook Summer of Hack 2012 in NYC. It was my first
time building a crawler and a scraper, so I definitely left the Hackathon with
more than just a Roku LT.
<div class="clear"></div>
</div>
</a>

<br>
<a href="https://github.com/michellebu/table">
<div class="project">
<h3>table<span class="details">Javascript, (HTML5?,) node.js</span></h3>
<img src="/projects/table.png">
A quick hack that allows you to create a map of a room. This comes in handy at
events like Hackathons, where people who are willing to help with certain
subjects can place themselves on your beautiful map and offer their services and
their smiling faces. Uses local storage so they can move around--unless they use
Firefox.
<div class="clear"></div>
</div>
</a>

<br>
<a href="https://github.com/michellebu/hackBox">
<div class="project">
<h3>Dropbox++<span class="details">Flask, RaphaelJS, Dropbox API</span></h3>
<img src="/projects/dropbox.png">
This was the winner of the 200GB Dropbox prize at The Big Hack 2012. We created a
pretty user interface for users to visualize their Dropbox usage...and easily
create shared folders and directly link their friends.
<div class="clear"></div>
</div>
</a>

<br>
<a href="http://decomposition.herokuapp.com">
<div class="project">
<h3>Decomposition<span class="details">Django</span></h3>
<img src="/projects/decompose.png">
For all intents and purposes my first 'hack' at my first Hackathon. It's a
problem set manager, where you can keep track of each individual problem and
record questions you had about them--it also keeps track of due dates and what
percentage of the problem set is complete.
<div class="clear"></div>
</div>
</a>

<br>
<a href="https://github.com/michellebu">
<div class="project">
<h3>More</h3>
Check out more things I've hacked on on my Github.
</div>
</a>
