<div id="form">

<h2>Setup</h2>
<input type="text" id="url" placeholder="https://github.com/" required>
<label for="url">URL <span class="red">* required</span></label>
<input type="text" id="username">
<label for="username">Username (HTTPS)</label>
<input type="password" id="password">
<label for="password">Password (HTTPS)</label>

<h2>JSON Data</h2>
{
<div id="data"></div>
<button id="add">Add Field</button>
<button id="submit">Submit</button>
}

</div>
