<div id="form">

<h2>Setup</h2>
<input type="text" id="url" required>
<label for="url">URL</label>
<input type="text" id="username">
<label for="username">Username (HTTPS)</label>
<input type="password" id="password">
<label for="password">Password (HTTPS)</label>

<h2>JSON Data</h2>
{ <div id="data"><button id="add">Add Field</button></div> }

</div>
