html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

body, html {
  min-width: 100%;
  min-height: 100%;
  background-color: #6D868A;
  font-family: Helvetica, Arial, sans-serif;
}

#response, #request {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  opacity: 0.8;
  width: 49%;
  min-height: 4em;
  background-color: #809a9f;
  font-size: 0.8em;
}

#request h1, #response h1 {
  color: #405c61;
  font-size: 1.5em;
  padding: 0 0 0 2%;
  display: inline-block;
  width: 20%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#request {
  left: 0;
}

#response {
  right: 0;
}

#res, #req {
  pointer-events: none;
  background-color: rgba(256, 256, 256, 0.1);
  display: inline-block;
  padding: 2%;
  color: #405c61;
  font-weight: 700;
  width: 74%;
  float: right;
  word-wrap:break-word;

}



#form {
  margin: 0 auto;
  padding: 5em 0 8em 0;
  max-width: 70%;
  width: 25em;
  font-size: 1.2em;
}

#form h1 {
  color: #587377;
  font-size: 3em;
  padding: 0;
  margin: 0;

}

#form h2 {
  color: #405c61;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0;
  margin: .5em 0;
  padding-left: 0.5em;
}

#data {

}
.paren {
  display: block;
  font-size: 2em;
  color: #d5705e;
  text-shadow: 1px 1px 0px #405c61;
}

#data input {
  width: 20%;
  background-color: #809a9f;
  margin-left: 5%;
}

#data .value {
  width: 50%;
  margin-left: 0;
  z-index: 0;
  display: inline-block;
}

#data .value input {
  width: 100%;
  margin: 0;
  font-size: 1em;
  padding: .6em .8em .5em .7em;
}

#data .value label {
  margin: 0;
  background-color: #5e797d;
  color: #809a9f;
  cursor: pointer;
}

.colon {
  display: inline-block;
  margin: 2%;
  font-weight: 900;
  font-size: 2em;
  color: #405c61;
  text-align: center;
}

#data input:focus {
  background-color: #5e797d;
}

input {
  font-size: 1.5em;
  border: 0;
  color: #405c61;
  background-color: #cac9ae;
  padding: 0.5em 0.5em 0.3em 0.5em;
  width: 100%;
}

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  margin-bottom: 1em;
  padding: 0.1em 1.5em 0.1em 1.5em;
  text-transform: uppercase;
  color: #cac9ae;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 0.5em;
  width: 100%;
  background-color: #ecebda;
}

::-webkit-input-placeholder {
  color:    #e0dfc8;
}
:-moz-placeholder {
  color:    #e0dfc8;
}
:-ms-input-placeholder {
  color:    #e0dfc8;
}

#form label .red {
  color: #e44a2e;
}

input:focus {
  outline: none;
  background-color: #ecebda;
}

#add {
  margin-left: 5%;
}

button {
  cursor: pointer;
  font-weight: 700;
  margin: .5em;
  font-size: 0.8em;
  padding: 1em 2em;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #5e797d;
  color: #b7cccf;
  border: none;
}
button:hover {
  background-color: #466165;
}

